/*
#	This program is free software: you can redistribute it and/or modify
#	it under the terms of the GNU General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	(at your option) any later version.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#	GNU General Public License for more details.
# 
#	You should have received a copy of the GNU General Public License
#	along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
 

/* 
COLORS:
RED: #FF1946 FF749B FF1846
BLUE: #00B5FF 60DEDE
ORANGE: #FF931F
YELLOW: #FCE94F
GREEN: #0DD100 C2FF8E
pink: BEB0BE D33682
purpul: CAC5FF
BACKGROUND: #36292d
FOREGROUND: #ffffda rgba(255, 255, 218, 0.86) 847479
*/
@define-color gamma_bg_color #36292d;
@define-color gamma_fg_color #ffffda;
@define-color gamma_warning_color #FCE94F;
@define-color gamma_error_color #FF749B;

#gamma_window decoration, headerbar {
	border:none;
	box-shadow:none;
}


/* from theme */
headerbar entry, headerbar button, headerbar separator {
  margin-top: 6px;
  margin-bottom: 6px;
}


.openned_file button,
.openned_file_editted button {
	border:none;
	border-radius: 0px;
	box-shadow: none;
	text-shadow: none;
	font-style:normal;
	-gtk-icon-shadow: none;
}

 

#window {
    background-color: transparent;
    border:none;
}


.titlebar, headerbar {
    min-height: 0px;
    margin: 0px;
}

/********** HEADER *************/
#headerPaned, #headerbarMain, #headerbarSide {    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#headerPaned > separator {
	background: #36292d;
}
 

#headerbarMain, #headerbarMain * {
	background: #36292d;
	color: rgba(255, 255, 218, 0.86);
	border:none;
}

#headerbarMain {
	padding: 8px 0 8px 0;
}

#headerbarMain .title {
	color: #ffffda;
	font-size: 16px;
} 
.openned_file_editted#headerbarMain .title {
	color: #FCE94F;
}
 


#searchEntry {
	margin:0 0 0 10px;
	padding:0;
	background: #36292d;
	font-family: monospace;
	font-size: 20px;
}
#searchEntry:focus {
	box-shadow: none;
}


#headerbarMain entry selection {
	background: #ffffda;
	color:#36292d;
}

#headerbarMain*.searching, #headerbarMain*.searching *,
#headerbarMain*.messageImportant, #headerbarMain*.messageImportant * {
       color:#60DEDE;
}
#headerbarMain*.searchSuccess, #headerbarMain*.searchSuccess *,
#headerbarMain*.messageSuccess, #headerbarMain*.messageSuccess * {
	color: #C2FF8E;
}
#headerbarMain*.searchFail, #headerbarMain*.searchFail * ,
#headerbarMain*.messageFail, #headerbarMain*.messageFail * {
	color: #FF749B;
}






#messageLbl {
	font-family: monospace;
	margin-right:21px;
}


/********** HEADER LEFT SIDE *************/
#headerbarSide {
	background: #36292d;
	border:none;
}

#headerbarSide * {
	color: rgba(255, 255, 218, 0.86);
	border: none;
}

#logo {
    background: #36292d; 
    color: #FF931F;
}

/********** BODY *************/
#bodyPaned > separator {
	background:  #36292d;
}

#toolbar_side {
    background-color:transparent;
    min-width: 34px;
    min-height: 100px;
}

#toolbar_files {
    background:  #36292d;
    padding-left:15px;
	padding-right:15px;
    padding-top:0px;
}


#toolbar_ctrls {
    background:  #372a2e;
    padding-top: 16px;
    padding-bottom: 18px;
} 



/********** FILES *************/
.openned_file { 
	background:transparent;
	border:none;
	margin: 0 0 0 0;
	
	border-style: dotted none none none;
	border-width: 3px;
	
	border-color: rgba(255, 196, 255, 0.16);
	font-size: 1.05em;
}

.openned_file button { 
	background:transparent;
	border:none;
	margin: 0;
	padding-top: 17px;
	padding-bottom: 17px;
	font-size: 1.05em;
}
 

.openned_file_editted button label {
	color: #FCE94F;
	font-style: italic;
}
.close_btn label {
	color: transparent;
}
.close_btn:hover {
	background: #FF1846;
	font-weight:bold;
	color: white;
}



.openned_file_hover label  {
	text-decoration: none;
	color: #fdfdfd;
}


.openned_file_hover.openned_file_editted label  {
	text-decoration: none;
	color: #FCE94F;
}


.openned_file_hover  {
	background: rgba(253, 253, 253, 0.04);
}
.openned_file * {  
	color: #BEB0BE;
}
.openned_file_current_displayed {
	background: rgba(253, 253, 253, 0.04);
}
.openned_file_current_displayed {
	font-weight: bold;
}
 



/********** MENUS *************/
.menu {
	background:transparent;
	border:none;
	color: #BEB0BE; 
	margin-top: 0px;
	padding: 6px 0 6px 0;
	box-shadow:none;
	border-radius: 0;
	margin-left:0;
	margin-right:0;
}

.menu_hover {
	color: #60DEDE;
	background: rgba(255, 196, 255, 0.15);
}

.menu_attention {
	color: #FCE94F;
	font-style: italic;
	font-weight: bold;
}

 
#find_menu.menu_attention {
	color: #C2FF8E;
	font-weight: bold;
}

#find_replace_menu.menu_attention {
	color: #C2FF8E;
	font-weight: bold;
}



/********** BUTTONS *************/
#closeBtn {
    background: #FF1846;
    border-radius: 100%;
}


#maximizeBtn {
    background: #0DD100;
    border-radius: 100%;
}


#minimizeBtn {
    background: #FCE94F;
    border-radius: 100%;
}


.scrolledwindow {
	border:none;
}

/*.sourceviewclass {*/
/*	font-family: monospace;*/
/*    font-size: 20px;*/
    /* font-size: 10px;*/
/*}*/



/******************* COMMANDER WINDOW *********************/

#commanderSearchEntry, #commanderSearchEntry * {
	color:#ffffda;
	background: #36292d; 
	font-family: monospace;
	font-size: 22px;
	min-height: 40px;
}
#commanderSearchEntry {
	border-radius: 0px;
	padding:0 5px 0 5px;
}

#commanderSearchEntry selection {
	background: #ffffda;
	color:#36292d;
}

#commanderScrolled {
	border: none;
}
#commanderList{
	background: #392c2f;
	padding-top:4px;
}

.commanderRow {
	color:rgba(255, 255, 218, 0.86);
	font-size: 18px;
	padding: 10px 30px 10px 30px;
	border:none;
}

#commanderList  row {
	border:none;
}

#commanderList row:hover {
	color:rgba(255, 255, 218, 0.86);
	background:rgba(211, 54, 130, 0.4);
	border:none;
}

#commanderList row:selected {
	background:#D33682;
	color:#ffffda;
	font-weight:bold;
	border:none;
}






/******************* FIND AND REPLACE *********************/
#find_replace_window button {
	margin: 0 5px 0px 10px;
}

#find_replace_window #find_prev_btn,
#find_replace_window #replace_btn {
	margin-bottom:2px;
}

#find_replace_window #find_btn,
#find_replace_window #replace_all_btn {
	margin-top:2px;
}

#find_replace_window #find_status_lbl {
	color: #ffffda;
}

#find_replace_window textview {
	color:red;
	font-size: 17px;
	padding: 7px;
}

#find_replace_window #find_box {
	margin: 0 0 0px 2px;
}





/******************* BOTTOM PANEL *********************/
notebook tab label {
	color: @gamma_fg_color;
}

notebook   {
	background-color: #36292d;
}

